FaxSender/Service References/SendFAXGatewayWebReference/SendFAXGatewayHttpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/SendFaxGatewayWebService/1.0" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/faxgateway/1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/SendFaxGatewayWebService/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/SendFaxGatewayWebService/1.0">
      <s:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/faxgateway/1.0" />
      <s:element name="SendFAX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:SendOutboundFAX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFAXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:SendOutboundFAXAck" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/outboundCorrespondence/faxgateway/1.0">
      <s:element name="SendOutboundFAX" type="s1:SendOutboundFAXType" />
      <s:complexType name="SendOutboundFAXType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:positiveInteger" />
          <s:element minOccurs="0" maxOccurs="1" name="Receipt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FaxRequestDateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documents" type="s1:ArrayOfDocument" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDocument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Document" type="s1:Document" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Document">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SeqNumber" type="s:positiveInteger" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentType" type="s1:DocumentType" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentContent" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DocumentType">
        <s:restriction base="s:string">
          <s:enumeration value="PDF" />
          <s:enumeration value="xHTML" />
          <s:enumeration value="MS-DOC" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendOutboundFAXAck" type="s1:SendOutboundFAXAckType" />
      <s:complexType name="SendOutboundFAXAckType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionRef" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Outcome" type="s1:OutcomeType" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OutcomeType">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Failure" />
          <s:enumeration value="Acknowledge" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendFAXSoapIn">
    <wsdl:part name="SendFAX1" element="tns:SendFAX" />
  </wsdl:message>
  <wsdl:message name="SendFAXSoapOut">
    <wsdl:part name="SendFAXResult" element="tns:SendFAXResponse" />
  </wsdl:message>
  <wsdl:portType name="SendFAXGatewayHttpServiceSoap">
    <wsdl:operation name="SendFAX">
      <wsdl:input message="tns:SendFAXSoapIn" />
      <wsdl:output message="tns:SendFAXSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendFAXGatewayHttpServiceSoap" type="tns:SendFAXGatewayHttpServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendFAX">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendFAXGatewayHttpServiceSoap12" type="tns:SendFAXGatewayHttpServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendFAX">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendFAXGatewayHttpService">
    <wsdl:port name="SendFAXGatewayHttpServiceSoap" binding="tns:SendFAXGatewayHttpServiceSoap">
      <soap:address location="http://localhost:17697/SendFAXGatewayHttpService.asmx" />
    </wsdl:port>
    <wsdl:port name="SendFAXGatewayHttpServiceSoap12" binding="tns:SendFAXGatewayHttpServiceSoap12">
      <soap12:address location="http://localhost:17697/SendFAXGatewayHttpService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>